body{
    background: #e90089;
}

.container{
    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: 150px;
}

.se-slope{
    margin: 0 -5opx;
    transform-origin: left center;
}
.se-slope:nth-child(odd){
    background: #000;
    transform: rotate(5deg);
    margin-top: -200px;
    box-shadow: 0px -1px 3px rgba(0,0,0,0.4);
}
.se-slope:nth-child(even){
    transform: rotate(-5deg);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.4) inset;
}